<!doctype html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Leitor - Inicio</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/main.css" type="text/css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>

<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Leitor.Mangá</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Bem vindo ao site!</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Inicio</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Sobre</a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Categorias</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li><a href="#">Categoria 1</a></li>
                    <li><a href="#">Categoria 2</a></li>
                    <li><a href="#">Categoria 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contato</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">

        <nav class="navbar navbar-expand-md">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <i class="fa fw fa-align-left"></i>
                        <span>Mostrar Sidebar</span>
                    </button>
                </div>

                <div class="collapse navbar-collapse justify-content-end" id="nav-tags">
                    <ul class="nav">
                        <li class="nav-item"><a class="nav-link" href="#">Tags</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Tags</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Tags</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Tags</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Tags</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Tags</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Tags</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Tags</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="comics">
            <div class="m-thumbnail">
                <img src="https://placehold.it/400x400">
            </div>
            <div class="m-thumbnail">
                <img src="https://placehold.it/400x400">
            </div>
            <div class="m-thumbnail">
                <img src="https://placehold.it/400x400">
            </div>
            <div class="m-thumbnail">
                <img src="https://placehold.it/400x400">
            </div>
            <div class="m-thumbnail">
                <img src="https://placehold.it/400x400">
            </div>
            <div class="m-thumbnail">
                <img src="https://placehold.it/400x400">
            </div>
            <div class="m-thumbnail">
                <img src="https://placehold.it/400x400">
            </div>
            <div class="m-thumbnail">
                <img src="https://placehold.it/400x400">
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="assets/js/reader.js"></script>
</body>
</html>
